name: CI

on:
  pull_request:
    branches: [develop]

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Run Backend CI
        run: ./scripts/pipeline/ci-backend.sh
  
  frontend:
    name: Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '25'

      - name: Run Frontend CI
        run: ./scripts/pipeline/ci-frontend.sh

